.tabs-container {
	@apply flex flex-nowrap overflow-x-auto my-5 px-12 gap-4;

	&::-webkit-scrollbar {
		height: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 10px;
	}
}

.tab-item {
	@apply flex-1 flex flex-col rounded-md items-center justify-center py-4 bg-zinc-100 cursor-pointer transition-colors text-center hover:bg-zinc-200;

	&.tab-item-active {
		@apply bg-primary text-white hover:bg-primary-hover;
	}
}
