:root {
	--item-width: 282px;
	--item-gap: 40px; /* equivalent to gap-10 in Tailwind */
}

.title {
	@apply text-2xl font-bold my-8 mb-4;
}
.carousel-wrapper {
	@apply relative overflow-hidden;

	&:hover {
		.carousel-control {
			@apply flex;
		}
	}
}

.carousel-track {
	@apply w-full overflow-hidden;
}

.carousel-list {
	@apply flex transition-transform duration-500 ease-in-out;
	gap: var(--item-gap);
}

.carousel-control {
	@apply absolute top-1/2 -translate-y-1/2 w-10 h-10 items-center justify-center 
  bg-black/50 text-white rounded-full z-10 transition-all 
  hover:bg-black/70 disabled:opacity-50 disabled:cursor-not-allowed;

	&.prev {
		@apply left-0;
	}

	&.next {
		@apply right-0;
	}
}

.carousel-item-wrapper {
	@apply flex flex-col justify-center flex-shrink-0;
	width: var(--item-width);
}

.carousel-item {
	@apply relative;

	&:hover {
		@apply cursor-pointer;

		.carousel-overlay {
			@apply flex;
		}
	}
}

.carousel-image {
	@apply object-cover w-full rounded-lg;
}

.carousel-badge {
	@apply absolute bottom-[10px] right-[10px];

	span {
		@apply inline-flex items-center justify-center w-[38px] h-7 bg-[--primary] rounded text-sm text-center text-white font-bold not-italic;
	}
}

.carousel-overlay {
	@apply hidden absolute inset-0 bg-black/40 rounded-lg flex-col items-center justify-center gap-3;
}

.carousel-btn {
	@apply w-[120px] text-white;

	&:hover {
		@apply bg-[--primary-hover] border-primary !important;
	}
}

.carousel-btn-outline {
	@apply border-[currentColor] border shadow-md transition-colors;
}

.trailerOverlay {
	@apply fixed inset-0 z-50 flex items-center justify-center bg-black/50;
}

.trailerWrapper {
	@apply relative w-full max-w-4xl aspect-video;
}

.trailerIframe {
	@apply w-full h-full rounded-lg;
}

.closeButton {
	@apply absolute -top-10 right-0 w-8 h-8 
           text-white text-3xl leading-none
           hover:text-gray-300 transition-colors
           cursor-pointer;
}

.carousel-title {
	@apply max-w-[220px] w-fit text-lg font-medium my-2 truncate p-0 inline;
}
