:root {
	--item-width: 281px;
	--item-gap: 40px;
}

.wrapper {
	@apply py-6;

	&.has-background {
		background-image: url("../../assets/images/background.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;

		.title {
			@apply text-white;
		}

		.carousel-control {
			&.prev,
			&.next {
				@apply bg-white/50;
			}
		}

		.carousel-title {
			@apply text-[#b0d427];
		}

		.carousel-genre {
			@apply text-gray-400;
		}
	}
}

.title {
	@apply text-2xl font-bold mb-4 text-center uppercase;
}

.carousel-track {
	@apply w-full overflow-hidden p-4;
}

.carousel-list {
	@apply flex transition-transform duration-500 ease-in-out;
	gap: var(--item-gap);
}

.carousel-control {
	@apply absolute top-1/2 -translate-y-1/2 w-10 h-10 items-center justify-center 
  bg-black/50 text-white rounded-full z-10 transition-all 
  hover:bg-black/70 disabled:opacity-50 disabled:cursor-not-allowed;

	&.prev {
		@apply left-4;
	}

	&.next {
		@apply right-4;
	}
}

.carousel-item-wrapper {
	@apply flex flex-col justify-center flex-shrink-0;
	width: var(--item-width);

	&:hover {
		@apply scale-105 transition-transform duration-300;
	}
}

.carousel-item {
	@apply relative;

	&:hover {
		@apply cursor-pointer;

		.carousel-overlay {
			@apply flex;
		}
	}
}

.carousel-image {
	@apply object-cover w-full rounded-lg border border-white;
}

.carousel-overlay {
	@apply hidden absolute inset-0 bg-black/40 rounded-lg flex-col items-center justify-center gap-3;
}

.carousel-btn {
	@apply w-[120px] text-white;

	&:hover {
		@apply bg-[--primary-hover] border-primary !important;
	}
}

.carousel-btn-outline {
	@apply border-[currentColor] border shadow-md transition-colors;
}

.trailerOverlay {
	@apply fixed inset-0 z-50 flex items-center justify-center bg-black/50;
}

.trailerWrapper {
	@apply relative w-full max-w-4xl aspect-video;
}

.trailerIframe {
	@apply w-full h-full rounded-lg;
}

.closeButton {
	@apply absolute -top-10 right-0 w-8 h-8 
           text-white text-3xl leading-none
           hover:text-gray-300 transition-colors
           cursor-pointer;
}

.carousel-title {
	@apply max-w-[220px] w-fit mt-2 text-lg font-medium truncate p-0 inline;
}

.carousel-genre {
	@apply text-sm truncate;
}
