.tabs-container {
	@apply flex flex-nowrap overflow-x-auto gap-4;

	&::-webkit-scrollbar {
		height: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 10px;
	}
}

.tab-item {
	@apply flex flex-col flex-1 rounded-md items-center justify-center py-4 bg-zinc-100 cursor-pointer transition-colors text-center hover:bg-zinc-200;

	&.tab-item-active {
		@apply bg-primary text-white hover:bg-primary-hover;
	}

	&.small {
		@apply text-xs max-w-[100px];
		flex: 1 0 60px;
	}

	&.white {
		@apply bg-white border border-neutral-300 rounded-lg;

		&.tab-item-active {
			@apply bg-primary text-white hover:bg-primary-hover;
		}
	}
}
